==================
Git Workflow Tools
==================

.. contents::

TODO
====

-  Copy over relevant items from old scripts readme
- Setup
    - Python 3.6 (developed using 3.9.2)
    - Git Version
- Demos

Overview
========

This package contains command line tools to streamline common tasks in our git workflow.

Start New Branch with Commit Template
-------------------------------------

To start a new branch, run:

::

    {{workflow.command}} {{start.command}}

This will prompt you for some information and create a new branch with the following name format:

::

    [<client>-]<brief-description>-<yyyymmdd>-<initials>

If you provide a ticket number, this will create a git commit message template for the branch. By default, the commit template will be in the following format:

::
    
    [<ticket#>] 

.. todo DEMOS


Finish a Branch
---------------

.. todo Doc when implemented, include demos


Create a Commit Template for an Existing Branch
-----------------------------------------------

If you already have a branch created and would like to create a commit template, run:

::

    {{workflow.command}} {{set_template.command}}

.. todo DEMOS


Remove a Branch's Commit Template
---------------------------------

To remove a branch's commit template without deleting the branch, run:

::

    {{workflow.command}} {{unset_template.command}}

.. todo DEMOS


Tidy Up Commit Templates
------------------------

.. todo Doc when implemented, include demos


